@import "../../scss/variables";
@import "../../scss/placeholders";
@import "../../scss/mixins";

#signup {
	@extend %signLog;
}

#signup-modal {
	@extend %signLogModal;
	@include displayFlex($direction: column, $justify: flex-start);

	.close-modal {
		@extend %closeModal;
	}

	form {
		@include displayFlex($direction: column);
		gap: $sml-px;
	}

	button {
		@extend %switchModal;
	}
}

input {
	@extend %inputModal;
}

input[type="submit"] {
	@extend %submitModal;
}

.password-div {
	position: relative;
	width: 100%;
	.eye-password {
		@extend %eyeModal;
	}
}

.error-visible {
	@extend %errorModal;
}

.error-not-visible {
	visibility: hidden;
}

//  ----------------- 576px -----------------

@media (min-width: 576px) {
	#signup-modal {
		form {
			gap: 20px;
		}
	}
}
