@import "../../scss/variables";
@import "../../scss/placeholders";
@import "../../scss/mixins";

#signup {
	height: 100vh;
	width: 100vw;
	position: fixed;
	z-index: 1;
	background-color: $bgModal;
}

#signup-modal {
	position: relative;
	background-color: $blueMarv;
	height: 100%;
	padding: 35px 10px 10px 10px;
	@include displayFlex($direction: column, $justify: flex-start);

	.close-modal {
		position: absolute;
		right: 25px;
		top: 13px;
		font-size: 2rem;
		color: $white;
		padding: 0;
		font-family: $Roboto;
		font-weight: normal;

		&:hover {
			color: $redMarv;
		}
	}

	form {
		@include displayFlex($direction: column);
		gap: $sml-px;
	}

	button {
		font-size: 1.3rem;
		padding: 10px 0;

		span {
			text-decoration: underline;
		}

		&:hover {
			text-decoration: underline;
		}
	}
}

input {
	background: none;
	color: $white;
	padding: $sml-px 5px;
	font-family: $RobotoC;
	border: none;
	border-bottom: 1px solid $yellowMarv;
	width: 100%;

	&::placeholder {
		color: $white;
		opacity: 0.7;
	}
}

input[type="submit"] {
	background-color: $yellowMarv;
	border-radius: 5px;
	color: $black;
	font-weight: bold;
	font-size: 1.8rem;
	margin-top: 5px;
}

.error-visible {
	color: $redMarv;
	font-weight: bold;
	font-size: 1.8rem;
	text-shadow: 1px 1px 0px $black;
}

.error-signup {
	visibility: hidden;
}

//  ----------------- 576px -----------------

@media (min-width: 576px) {
	#signup-modal {
		width: 576px;
		margin: 50px auto;
		border-radius: 5px;
		height: 600px;

		.close-modal {
			font-size: 2.5rem;
		}

		form {
			gap: 20px;
		}

		button {
			padding: 20px;
		}
	}

	input[type="submit"] {
		margin-top: 15px;
	}
}
