@import "../../scss/variables";
@import "../../scss/placeholders";
@import "../../scss/mixins";

#main-home {
	height: calc(100vh - (60px + 45px));

	background-color: $white;
	.container {
		height: 100%;
		padding: $sml-px;
	}
}

#home {
	height: 100%;

	#comic-home {
		background-image: url("../../assets/comics-sample.webp");
		margin-bottom: 2%;
		@extend %imgHome;
	}

	#cha-home {
		background-image: url("../../assets/characters-sample.jpg");
		@extend %imgHome;
	}
}
