@import "../../variables";

footer {
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	position: fixed;
	bottom: 0;
	padding: $sml-pa 0;
	background-color: $bgBlack;
	border: 1px solid red;
}
