@import "../../scss/variables";
@import "../../scss/placeholders";
@import "../../scss/mixins";

#pagination {
	@include displayFlex($direction: column, $align: end);
	gap: 8px;
	margin: 10px 0;

	div {
		font-family: $RobotoC;
		font-size: 1.2rem;
	}
}

.rc-pagination {
	@include displayFlex;
	flex-wrap: wrap;
	gap: 20px;

	a {
		font-family: $RobotoC;
		font-size: 1.6rem;

		&:hover {
			cursor: pointer;
		}
	}

	button {
		width: 10px;
		height: 20px;
		background-color: $white;
	}

	svg:hover {
		cursor: pointer;
	}
}

.rc-pagination-item-active a {
	@extend %red;
}

#skip-select {
	width: 180px;
	font-family: $Roboto;
	text-align: center;
	font-size: 1.5rem;
}
