@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import "./scss/variables";
@import "./scss/placeholders";

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	-ms-overflow-style: none;
	scrollbar-width: none;

	::-webkit-scrollbar {
		display: none;
	}
}

body {
	font-size: 1.6rem;
	line-height: 22px;
	color: $white;
	font-family: $Roboto;
	background-color: $blueMarv;
	transition: transform 0.5s;
}

h2 {
	font-family: $RobotoC;
	font-weight: bold;
	font-size: 2.5rem;
	text-align: center;
}

h3 {
	color: $black;
	font-family: $RobotoC;
	font-weight: bold;
	font-size: 2rem;
	text-align: center;
	margin: 10px 0;
}

button {
	font-family: $RobotoC;
	font-weight: bold;
	font-size: 1.6rem;
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}

a {
	text-decoration: none;
	font-family: $Roboto;
	font-size: 1.6rem;
	color: $white;
	font-weight: bold;

	:hover {
		cursor: pointer;
	}
}

span {
	font-weight: bold;
}

//  ----------------- 1400 px -----------------

@media (min-width: 1400px) {
	.container {
		width: 1400px;
		margin: 0 auto;
	}
}

//  ----------------- 576px -----------------

//  @media (min-width: 576px) {
// }

//  ----------------- 720 px -----------------

//  @media (min-width: 720px){

// }

//  ----------------- 768 px -----------------

//  @media (min-width: 768px) {
// }

//  ----------------- 992 px -----------------

//  @media (min-width: 992px) {
// }

//  ----------------- 1024 px -----------------

//  @media (min-width: 1024px) {
// 	}

//  ----------------- 1200 px -----------------

//  @media (min-width: 1200px) {

// }

//  ----------------- 1400 px -----------------

//  @media (min-width: 1400px) {

// }
