@mixin displayFlex($align: center, $justify: center, $direction: row) {
	display: flex;
	flex-direction: $direction;
	align-items: $align;
	justify-content: $justify;
}

@mixin grid($number: 1, $size: 1) {
	width: calc((100% - ($sml-px * $number)) / ($number + $size));
}
