%red {
	color: $redMarv;
	text-shadow: 1px 2px 6px $black;
}

// HOME --------------------------------------------------------

%imgHome {
	height: 49%;
	border: 2px solid $black;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);

	&:hover {
		-webkit-filter: grayscale(0%);
		filter: grayscale(0%);
	}

	@media (pointer: coarse) {
		-webkit-filter: grayscale(0%);
		filter: grayscale(0%);
	}

	//  ----------------- 576px -----------------

	@media (min-width: 576px) {
		height: 48%;
	}

	//  ----------------- 1024 px -----------------

	@media (min-width: 1024px) {
		height: 47%;
	}
}

// MODALS --------------------------------------------------------

%avatar {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border: 1px solid $white;
	object-fit: cover;
}

%signLog {
	height: 100vh;
	width: 100vw;
	position: fixed;
	z-index: 2;
	background-color: $bgModal;
}

%signLogModal {
	position: relative;
	background-color: $blueMarv;
	height: 100%;
	padding: 35px 10px 10px 10px;

	@media (min-width: 576px) {
		width: 576px;
		margin: 50px auto;
		border-radius: 5px;
		height: 600px;
	}
}

%closeModal {
	position: absolute;
	right: 25px;
	top: 13px;
	font-size: 2rem;
	color: $white;
	padding: 0;
	font-family: $Roboto;
	font-weight: normal;

	&:hover {
		color: $redMarv;
	}

	@media (min-width: 576px) {
		font-size: 2.5rem;
	}
}

%switchModal {
	font-size: 1.3rem;
	padding: 10px 0;

	span {
		text-decoration: underline;
	}

	&:hover {
		text-decoration: underline;
	}

	@media (min-width: 576px) {
		padding: 20px;
	}
}

%inputModal {
	background: none;
	color: $white;
	padding: $sml-px 5px;
	font-family: $RobotoC;
	border: none;
	border-bottom: 1px solid $yellowMarv;
	width: 100%;

	&::placeholder {
		color: $white;
		opacity: 0.7;
	}
}

%submitModal {
	background-color: $yellowMarv;
	border-radius: 5px;
	color: $black;
	font-weight: bold;
	font-size: 1.8rem;
	margin-top: 5px;

	@media (min-width: 576px) {
		margin-top: 15px;
	}
}

%eyeModal {
	position: absolute;
	right: 5px;
	bottom: 5px;
	color: $white;

	svg {
		font-size: 1.6rem;
	}
}

%errorModal {
	color: $redMarv;
	font-weight: bold;
	font-size: 1.8rem;
	text-shadow: 1px 1px 0px $black;
}

// COMICS/CHARACTERS ---------------------------------------------

// COMIC/CHARACTER ------------------------------------------------

%bigButtonFav {
	padding: 10px 10px;
	border-radius: 5px;
	width: 100%;

	@media (min-width: 576px) {
		width: 576px;
	}
}
