// COLOR

$white: #fff;
$black: #000;
$bgModal: #00000099;
$blueMarv: #047cb6;
$lightBlueMarv: #50c6ff;
$redMarv: #ed1d24;
$yellowMarv: #fbc623;
$lightYellowMarv: #feff79;

// PADDING

$sml-px: 10px;

// FONTS

$Roboto: "Roboto", sans-serif;
$RobotoC: "Roboto Condensed", sans-serif;
